In [1]:
class Room: 

  gate = 2

  window = 4

  walls = 4

  ceiling = 1

In [3]:
r=Room()

In [4]:
print(r.gate)

print(r.walls)

print(r.window)

print(r.ceiling)

2
4
4
1

In [5]:
help(Room)

Help on class Room in module __main__:

class Room(builtins.object)
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  ceiling = 1
 |
 |  gate = 2
 |
 |  walls = 4
 |
 |  window = 4

In [6]:
r1 = Room()



r1.walls = 6



r1.walls

6

In [7]:
help(Room)

Help on class Room in module __main__:

class Room(builtins.object)
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  ceiling = 1
 |
 |  gate = 2
 |
 |  walls = 4
 |
 |  window = 4

In [28]:
class Student:
    name="Adheesh"
    marks=99
    age=20
    fees="paid"
    def details(self):
        print("name",self.name)
        print("marks",self.marks)
        print("age",self.age)
        print("fees",self.fees)

In [29]:
s=Student()

In [30]:
s.marks

99

In [31]:
s.details()

name Adheesh
marks 99
age 20
fees paid

In [32]:
class Student:
    name="Adheesh"
    maths=95
    english=98
    science=90
    hindi=92
    def total_score(self):
        return self.maths+self.english+self.science+self.hindi

In [33]:
s=Student()

In [34]:
print(s.name)
s.total_score()

Adheesh

375

In [37]:
class School():
    area = "5 acr"
    room = 50
    teachers=100
    student = 2000
    fees=6500
    teachers_salary=25000
    def total_exp(self):
        return self.teachers_salary*self.teachers
    def total_income(self):
        return self.fees*self.students

**Banking System**

In [3]:
class Bank:
    def __init__(self,name,account,balance):
        self.name = name
        self.account = account
        self.balance = balance
    def credit(self,amount):
        self.amount = amount
        self.balance = self.balance + self.amount
        print(self.amount,"Credit in Your Bank Account")
        print("Your Remaining Balance is",self.balance)
    def debit(self,amount):
        self.amount=amount
        self.balance=self.balance+self.amount
        print(self.amount, "Debited from your bank account")
        print("Your remaining balance is", self.balance)

In [4]:
b = Bank("a",458,500)

CGPA Calculator

In [ ]:
class Marksheet:
    def year1(self,m1):
        self.m1=m1
    def year2(self,m2):
        self.m2=m2
    def year3(self,m3):
        self.m3=m3
    def overall(self):
        if self.m1>0 and self.m2==0 and self.m3==0:
            print(self.m1)
        elif self.m1>0 and self.m2>0 and self.m3==0:
            print((self.m1+self.m2)/2)
        elif self.m1>0 and self.m2>0 and self.m3>0:
            print((self.m1+self.m2+self.m3)/3)

In [17]:
class Student:
  def __init__(self, a1, a2, a3):
    self.a1 = a1
    self.a2 = a2
    self.a3 = a3
  def overall(self):
    if self.a1 > 0 and self.a2 is None and self.a3 is None:
      print(self.a1)
    elif self.a1 > 0 and self.a2 is not None and self.a3 is None:
      print((self.a1 + self.a2) / 2)
    elif self.a1 > 0 and self.a2 is not None and self.a3 is not None:
      print((self.a1 + self.a2 + self.a3) / 3)
        
s1 = Student(10, None, None)
s2 = Student(10, 8, None)
s3 = Student(10, 8, 6) 

s3.overall()

8.0