In [1]:
database = [
  (1,"abhiniza",20,"Maths"),
  (2,"robin",20,"Maths"),
  (3,"pankaj",21,"Maths"),
  (4,"si joy",22,"Maths")
    ]

In [2]:
def display_data(data):
  print("ID | NAME | AGE | SUBJECT")
  print("================================")
  for i in data:
    print(f"{i[0]:<3} | {i[1]:<10} | {i[2]:<3} | {i[3]}")

In [3]:
display_data(database)

ID | NAME | AGE | SUBJECT
================================
1   | abhiniza   | 20  | Maths
2   | robin      | 20  | Maths
3   | pankaj     | 21  | Maths
4   | si joy     | 22  | Maths

In [4]:
def add_data(data, id, name, age, subject):
    data.append((id, name, age, subject))

In [5]:
add_data(database,5,"Adheesh",20,"Hindi")

In [6]:
display_data(database)

ID | NAME | AGE | SUBJECT
================================
1   | abhiniza   | 20  | Maths
2   | robin      | 20  | Maths
3   | pankaj     | 21  | Maths
4   | si joy     | 22  | Maths
5   | Adheesh    | 20  | Hindi

In [7]:
def remove_row(data,id):
    data.pop(id-1)

In [8]:
remove_row(database,5)

In [9]:
display_data(database)

ID | NAME | AGE | SUBJECT
================================
1   | abhiniza   | 20  | Maths
2   | robin      | 20  | Maths
3   | pankaj     | 21  | Maths
4   | si joy     | 22  | Maths