In [1]:
class Employee:
    def set_employee_details(self, employee_id, name, department, position, salary):
        self.employee_id = employee_id
        self.name = name
        self.department = department
        self.position = position
        self.salary = salary

    def display_employee_details(self):
        print(f"Employee ID: {self.employee_id}")
        print(f"Name: {self.name}")
        print(f"Department: {self.department}")
        print(f"Position: {self.position}")
        print(f"Salary: ${self.salary}")

In [2]:
class FullTimeEmployee(Employee):
    def set_benefits(self, health_insurance, vacation_days):
        self.health_insurance = health_insurance
        self.vacation_days = vacation_days

    def display_benefits(self):
        print(f"Health Insurance: {self.health_insurance}")
        print(f"Vacation Days: {self.vacation_days}")

In [3]:
class PartTimeEmployee(Employee):
    def set_hourly_rate(self, hourly_rate):
        self.hourly_rate = hourly_rate

    def display_hourly_rate(self):
        print(f"Hourly Rate: ${self.hourly_rate}")

In [4]:
if __name__ == "__main__":
    full_time_emp = FullTimeEmployee()
    full_time_emp.set_employee_details(1, "John Doe", "IT", "Developer", 75000)
    full_time_emp.set_benefits("Yes", 20)
    
    print("\nFull-Time Employee Details:")
    full_time_emp.display_employee_details()
    full_time_emp.display_benefits()
    
    part_time_emp = PartTimeEmployee()
    part_time_emp.set_employee_details(2, "Jane Smith", "HR", "Recruiter", 0)  # Salary not applicable
    part_time_emp.set_hourly_rate(25)

    print("\nPart-Time Employee Details:")
    part_time_emp.display_employee_details()
    part_time_emp.display_hourly_rate()

Full-Time Employee Details:
Employee ID: 1
Name: John Doe
Department: IT
Position: Developer
Salary: $75000
Health Insurance: Yes
Vacation Days: 20

Part-Time Employee Details:
Employee ID: 2
Name: Jane Smith
Department: HR
Position: Recruiter
Salary: $0
Hourly Rate: $25

In [10]:
class Database:
    def row(self,id, name, age, salary):
        self.data=[]
        return self.data.append((id,name,age,salary))
    def display_rows(self):
        print("ID  |Name  |Age  |Salary")
        print("-------------------------")
        for i in self.data:
            print(f"{i[0]:<3} | {i[1]:<10} | {i[2]:<3} | {i[3]}")
    def add_row(self,id, name, age,salary):
        self.data.append((id,name,age,salary))
    def delete_row(self,id):
        self.data.pop(id-1)

In [11]:
d=Database()

In [12]:
d.row(1,"a",29,48000)

In [13]:
d.display_rows()

ID  |Name  |Age  |Salary
-------------------------
1   | a          | 29  | 48000

In [14]:
d.add_row(2,"aman",30,75000)

In [15]:
d.display_rows()

ID  |Name  |Age  |Salary
-------------------------
1   | a          | 29  | 48000
2   | aman       | 30  | 75000

In [16]:
d.delete_row(1)

In [17]:
d.display_rows()

ID  |Name  |Age  |Salary
-------------------------
2   | aman       | 30  | 75000