In [2]:
# print the 2nd highest element from the list
k=[1,4,7,8,9,5,4,6,3,2,5,3,10]
index=-2
k.sort()
for i in k:
    if k[index]==max(k):
        index-=1
print(k[index])

9

In [4]:
# print those elements which are perfect square
j=[4,9,16,25,36,7,8,10,11,12,13,14]
for i in j:
    if i**(1/2)==int(i**(1/2)):
        print(i)

4
9
16
25
36

In [8]:
# print duplicate elements from the list
g=[1,2,3,4,5,6,7,7,11,11]
g.count(i)
for i in g:
    if g.count(i)>1:
        print(i)

7
7
11
11

In [9]:
s="hello everyone i am teaching python in A2 where number of students are more than 50"

In [10]:
print(s.split())

['hello', 'everyone', 'i', 'am', 'teaching', 'python', 'in', 'A2', 'where', 'number', 'of', 'students', 'are', 'more', 'than', '50']

In [11]:
type(s.split())

list

In [12]:
for i in s.split():
    print(i)

hello
everyone
i
am
teaching
python
in
A2
where
number
of
students
are
more
than
50

In [14]:
# count the number of spaces
# print those words where letter is more than equals to 3
# print the 1st letter of each word
# convert all small letters into uppercase

In [15]:
s.count(" ")

15

In [16]:
for i in s.split():
    if len(i)>=1:
        print(i)

hello
everyone
i
am
teaching
python
in
A2
where
number
of
students
are
more
than
50

In [17]:
for i in s.split():
    print(i[0])

h
e
i
a
t
p
i
A
w
n
o
s
a
m
t
5

In [18]:
s.upper()

'HELLO EVERYONE I AM TEACHING PYTHON IN A2 WHERE NUMBER OF STUDENTS ARE MORE THAN 50'