In [1]:
# Create a python class book with attributes title, author, and pages and a method display_info() to display the book's information solution.

In [6]:
class Book:
    def __init__(self, title, author, pages):
        self.title=title
        self.author=author
        self.pages=pages
    def display_info(self):
        print("Title", self.title)
        print("Author", self.author)
        print("Pages", self.pages)

In [7]:
b=Book("Rich Dad Poor Dad", "Adheesh", 69)

In [8]:
b.display_info()

Title Rich Dad Poor Dad
Author Adheesh
Pages 69

**Inheritance**

In [9]:
class GrandFather:
    def height(self):
        return "height"

In [ ]:
class Father(GrandFather):
    def xyz(self):

In [1]:
class A:

  name ="AAM"

  age =44

  hieght ="6 feet"

In [2]:
a=A()

In [3]:
class B(A):

  a=10

  b=20

In [4]:
b=B()

In [6]:
print(b.name)

print(b.age)

print(b.hieght)

AAM
44
6 feet

In [7]:
class C(B):

  d="Ram"

  e=22

In [8]:
c=C()

In [10]:
print(c.name)
print(c.hieght)
print(c.a)
print(c.b)
print(c.d)
print(c.e)

AAM
6 feet
10
20
Ram
22

In [11]:
class GrandFather:
    surname="Chopra"

In [13]:
class Father:

  hieght="5 feet"

class Child(GrandFather,Father):

  r=45

In [14]:
c=Child()

c.hieght

'5 feet'

In [15]:
class Student():

  def info(self, name, age, roll_no):

    self.name = name

    self.age = age

    self.roll_no = roll_no

In [16]:
class Details(Student):

  def show_details(self):

    print(self.name)

    print(self.age)

    print(self.roll_no)

In [17]:
d=Student()

In [18]:
d.info("RAM",20,1)

In [19]:
d.name

'RAM'

In [20]:
class Student:

  def __init__(self, a, b, c, d):  

    self.a = a

    self.b = b

    self.c = c

    self.d = d

In [21]:
def show(self):  

    return [self.a, self.b, self.c, self.d] # Changed to square brackets to create a list

In [1]:
# cylinder
# in 1st class add 2 methods(Total_surface, curve_surface)
# class 2 name it as cylinder
# in 2nd class add 1 methode(volume)

In [2]:
class Cylinder1:

  def __init__ (self,r,h,pi):

    self.r = r

    self.h = h

    self.pi = pi

  def tot_sa(self):

    return (2*self.pi*self.r*(self.r+self.h))

  def cu_sa(self):

    return (2*self.pi*self.r*self.h)

In [3]:
class A:

  def __init__(self, teacher, teacher1):

    self.teacher = teacher

    self.teacher1 = teacher1

  def sh(self):

    return self.teacher + self.teacher1

class B(A):

  def __init__(self, teacher, teacher1, student, student1):

    super().__init__(teacher, teacher1)

    self.student = student

    self.student1 = student1

  def sh1(self):

    return self.student + self.student1

b = B(1, 11, 2, 22)

print(b.sh()) # This will return the sum of teacher and teacher1

print(b.sh1()) # This will return the sum of student and student1

12
24

In [4]:
class A:

  def __init__(self, teacher, teacher1, teacher_salary):

    self.teacher = teacher

    self.teacher1 = teacher1

    self.teacher_salary = teacher_salary

  def sh(self):

    return self.teacher + self.teacher1

class B(A):

  def __init__(self, teacher, teacher1, teacher_salary, student, student1, student_salary):

    super().__init__(teacher, teacher1, teacher_salary)

    self.student = student

    self.student1 = student1

    self.student_salary = student_salary

  def sh1(self):

    return self.student + self.student1

  def avg_salary(self):

    return (self.teacher_salary + self.student_salary) / 2

# Example usage

b = B(1, 11, 50000, 2, 22, 30000)

print(b.sh()) # Sum of teacher and teacher1

print(b.sh1()) # Sum of student and student1

print(b.avg_salary()) # Average of teacher_salary and student_salary

12
24
40000.0

In [5]:
# create a class calculator with attributes hours, minutes, seconds then create 2 methods total_minutes and total_hours

In [6]:
# create  a class calculator1 withe attributes day, month the create 2 methods total_days and total_months

In [11]:
class Calculator:

  def __init__(self, hours, minutes, seconds):

    self.hours = hours

    self.minutes = minutes

    self.seconds = seconds



  def total_minutes(self):

    return self.hours * 60 + self.minutes + self.seconds / 60



  def total_hours(self):

    return self.hours + self.minutes / 60 + self.seconds / 3600

In [12]:
calc = Calculator(2, 45, 30)

print("Total minutes:", calc.total_minutes())

print("Total hours:", calc.total_hours())

Total minutes: 165.5
Total hours: 2.7583333333333333

In [13]:
class Calculator1:

  def __init__(self, day, month):

    self.day = day

    self.month = month



  def total_days(self):

    return self.day + self.month * 30  



  def total_months(self):

    return self.month + self.day / 30

In [14]:
calc1 = Calculator1(15, 5)

print("Total days:", calc1.total_days())

print("Total months:", calc1.total_months())

Total days: 165
Total months: 5.5

In [1]:
class A:
    def total(self):
        return 500
    def total2(self):
        return 600+A.total(self)

In [2]:
a=A()

In [3]:
a.total()

500

In [5]:
a.total2()

1100

In [ ]:
# create a class college with attributes building floor room and create a method show_info()
# then create 2nd class college2 with attributes teachers students and fees and create a method to print whole information

In [6]:
class College:
    def __init__(self, building, floor, room):
        self.building=building
        self.floor=floor
        self.room=room
    def show_info(self):
        print("Building", self.building)
        print("Floor", self.floor)
        print("Room", self.room)

class College1(College):
    def __init__(self, building, floor, room, teacher, student, fees):
        super().__init__(building, floor, room)
        self.teacher=teacher
        self.student=student
        self.fees=fees
    def full_info(self):
        College.show_info(self)
        print("teacher", self.teacher)
        print("student", self.student)
        print("fees", self.fees)